#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
    height: 800px;
    background-color: palegoldenrod;
}

#chessboard .square {
    width: 1fr;
    height: 1fr;
}

#chessboard .square-black {
    background-color: darkolivegreen;
}

#chessboard .square-white {
    background-color: wheat;
}




